# Database URL for PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/viewing_coordinator?schema=public"

# JWT Secret for Session Authentication
JWT_SECRET="development-jwt-secret-luxury-real-estate-viewing-coordinator-2026"

# Next.js Port (Default: 3000)
PORT=3000
